header {
	text-align:center;
	font-size: 30px;
}
ul {
	list-style-type: none;
	padding: 20px;
	background-color: #F1F1F1;
	text-align: center;
}
li {
	display: inline;
	padding-left: 50px;

}

#feature {
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: #F1F1F1;
}
a {
	color: black;
}
.row {
	width: 100%;

}
.column{
	float: left;
	width: 33.33%;
	text-align: center;

}